.env
.env.*
!.env.example
*.tfplan
tfplan
crash.log
crash.*.log
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!*.tfvars.example
*.agekey
*.pem
*.key
*.p12
*.mobileprovision
*.keystore
kubeconfig*
.kube/
credentials*
google-services.json
GoogleService-Info.plist
.private/
.DS_Store
